<h1><%=h @portlet.name %></h1>
<table cellspacing="5px">
	<% @orders.each do |order| %>
	<tr>
		<td colspan="2"><%= order.line_items.map { |item| "#{item.quantity} x #{item.product.name}" }.join(', ') %></td>
		<td><%= danish_price order.price %></td>
	</tr>
	<tr>
		<td><%= order.name %></td>
		<td><%= order.street %></td>
		<td><%= order.zip %>&nbsp;<%= order.ship_to_city %></td>
	</tr>
	<tr>
		<td><%= order.financial_state %></td>
		<td><%= order.fulfillment_state %></td>
		<td><%= order.created_at.to_s(:short) %></td>
	</tr>
	<tr>
		<% form_for :order, order, :url => { :controller => "/orders", :action => "ship" } do |f| %>
		<%= f.hidden_field :id %>
		<td><%= f.cms_drop_down :carrier, Order.carriers.map{|e| [e, e]} %></td>
		<td colspan="2"><%= f.text_field :tracking_number, :size => 6 %></td>
	</tr>
	<tr>
		<td><%= f.submit "Send denne ordre" %></td>
		<% end %>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<% end %>
</table>