<% if @product %>
<% @page_title = @product.name %>
<div class="productdetails">
   <div class="header">
	<div class="productdetails_price"><%= normal_or_reduced_price(@product) %></div>
	<div class="productdetails_name"><%= @product.name %></div>
   </div>
	<table class="productdetails">
		<tr>
			<td>
				<table>
					<tr>
						<td class="product_details_photo">
							<img id="product_photo" src="<%= product_photo(@product) %>" alt="Example Photo front" width="320px">
						</td>
					</tr>
					<tr>
						<td>
							<div class="more_product_photos">Flere billeder:</div>
						</td>
					</tr>
					<tr>
						<% @product.product_photos.select {|p| p.attachment_link}.each do |photo| %>
						<td class="product_alternate_photos">
							<a href="/shop/product?id=<%= @product.id %>" onclick="$('product_photo').src = <%= photo.attachment_link %>">
  							<img class="product_photo_mini" src="<%= photo.attachment_link %>"  />
							</a>
						</td>
						<% end %>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<tr>
								<td class="product_details_description">
									<%= @product.description.blank? && @product.summary_description || @product.description %>
								</td>
							</tr>
							<tr>
								<td class="product_details_producer">Producent: <%= @product.producer.name %></td>
							</tr>
							<tr>
								<td>
									<% if @product.offer_price > 0 %>
									<div class="price_before">Pris: <%= danish_price(@product.selling_price) %></div><div class="price_bonus">Tilbudspris: <%= danish_price(@product.offer_price) %></div>
									<% else %>
									<div class="price_normal">Pris: <%= danish_price(@product.selling_price) %></div>
									<% end %>
								</td>
								<td>
									<% form_for @product, :url => { :controller => "/store", :action => "add_to_cart" } do |f| %>
									<%= f.hidden_field :id %>
									<%= image_submit_tag '/images/shopping_cart_small.png' %>
									<% end %>									
								</td>
							</tr>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<% end %>