<% if @order %>
	<% form_for :order, @order, :url => { :action => 'create', :method => 'post' } do |f| %>
		<%= f.error_messages %>
		<% if @order.payment_processor == 'paypal_express' && @order.paypal_express_token.blank? %>
		    Token is blank, should probably redirect or something
		<% else %>
			<% if @order.payment_processor == 'paypal_express' %>
				<%= f.hidden_field :paypal_express_token %>
				<p>Din paypal status er: <%=h @order.payer_status %></p>
				<p>Din paypal adresse status er: <%=h @order.address_status %></p>
			<% end %>
			<p>Order Financial State: <%=h @order.financial_state %></p>
			<p>Order Fulfillment State: <%=h @order.fulfillment_state %></p>
		    <p>Navn: <%=h @order.first_name %> <%=h @order.last_name %></p>
			<p>Contact Email: <%=h @order.email %></p>
			<% if @order.payment_processor == 'google_checkout' %>
				<p>Google Order number: <%=h @order.google_order_number %></p>
				<%= f.hidden_field :google_order_number %>
			<% end %>
			<p>
				<h3>Sendes til</h3>
				Navn: <%=h @order.ship_to_name %> <br />
				Vej/gade: <%=h @order.ship_to_street_line_1 %> <br />
				Adresse ekstra: <%=h @order.ship_to_street_line_2 %> <br />
				Postnr: <%=h @order.ship_to_zip %> 
				By: <%=h @order.ship_to_city %> <br />
				<!-- State: <%#h @order.ship_to_state %> <br /> -->
				<!-- Country Code: <%#h @order.ship_to_country_code %> <br /> -->
				Land: <%=h @order.ship_to_country_name %> <br />
			</p>
			<h3>Du er ved at købe følgende produkter:</h3>
			<table class="line_items" cellspacing=0>
			<% if @order.line_items %>
				<tr class="content_blocktitle">
					<td rowspan="2">Antal</td>
					<td rowspan="2">Beskrivelse</td>
					<td colspan="2" align="center">Pris</td>
				</tr>
				<tr class="content_blocktitle">
					<td>Stuk</td>
					<td>Total</td>
				</tr>
			<% end %>
			<% total_price = @order.line_items.inject(0) {|sum, item| sum + item.unit_price * item.quantity } %>
			<% @order.line_items.each do |item| %>
				<% product = item.product %>
				<tr>
					<td><%= item.quantity %></td>
					<td><%= product.name %></td>
					<td align="right"><%= danish_price(item.unit_price) %></td>
					<td align="right"><%= danish_price(item.unit_price * item.quantity) %></td>
				</tr>
			<% end %>
				<tr>
					<td colspan="3" align="right"><strong>Total:</strong></td>
					<td id="totalcell"><%= danish_price(total_price) %></td>
			</table>
			
			Totalprisen er <%=h number_to_currency @order.cart.total_price %> (+ 50kr forsendelse giver <%=h number_to_currency @order.cart.total_price + 50 %>)
			<% end %>
	  <p><%= f.submit "Complete Order" %></p>
	<% end %>
<% else %>
	Google checkout is still processing your request, please reload the page to check again.
<% end %>
