<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<style type="text/css">
	#header {
		padding-top:10px;
		vertical-align: top;
		background-color: #fff;
		margin: 0px 25px 0 25px;
		padding: 1px 0px 0px 0px;
		border: 2px solid #aaa;
		text-align:left;
		width: 95%;
		height: 180px;
		-moz-border-radius:2ex;
		-webkit-border-radius:2ex;
	}
	#header img {
		padding-top: 00px;
		padding-left: 20px;
		padding-bottom: 0px;
	}
	#header a:visited {
		text-decoration: none;
	}
	#header_text1, #header_text2 {
		font-size: 36pt;
		font-family: Georgia;
		position: relative;
		top: 45px;	
	}
	#header_text1 {
		margin-left: 150px;
	}
	#header_text2 {
		margin-left: 30px;
	}
	#page { 
		width:680px; min-height:600px; 
		position:relative; margin-left:auto; margin-right:auto;
		padding-top: 20px;
		padding-bottom: 20px;
	} 

	.fullbg {
		background-color: #529248;
	}

	#container {
		padding:10px 0px 0px 00px;
		margin:0px 25px 0px 25px;
		height:100%;
	}
	.wrapper {
		background-color: #fff;
	}
	.round {
		border: 1px solid #ccc;
		-moz-border-radius:2ex;
		-webkit-border-radius:2ex;
	}
	</style>
</head>
<body>
	<div style="clear: both;">&nbsp;<br>&nbsp;<br>&nbsp;</div>
	<div id="page" class="wrapper">
		<div id="header">
			<span id="header_text1">Ølstykke</span>
			<a href="../"><img alt="logo" id="logo" border="0" src="/themes/dyrgod/images/logo_no_text_130y.png" valign="top"></a>
			<span id="header_text2">Dyreklinik</span>
		</div>
	</div>
	<div id="container">
		<p>Kære <%=h @order.name %></p>
		Tak for din bestilling hos Ølstykke Dyreklinik. Så snart din betaling er godkendt, sender vi dig dine varer.
		<p>
			Du kan se en status over din ordre ved at gå ind på <a href="http://www.fordimankan.dk/order?id=<%= @order.token %>" alt="Ordrestatus">dette link</a>.
			Indtil ordren er taget i behandling, kan du fortryde dit køb.
		</p>
		<p>Ordredetaljer:</p>

		<p>Sendes til:
			<table>
				<tr>
					<td>Navn:</td>
					<td><%= @order.name %></td>
				</tr>
				<tr>
					<td>Vej og husnr.:</td>
					<td><%= @order.street %></td>
				</tr>
				<tr>
					<td>Postnr. og by:</td>
					<td><%= @order.zip %> <%= @order.ship_to_city %></td>
				</tr>
			</table>
		</p>
		<p>Du har bestilt følgende varer:
			<table>
				<tr>
					<td>Vare</td>
					<td>Antal</td>
					<td>Pris</td>
					<td>Total</td>
				</tr>
				<% total_price = 0.0 %>
				<% @order.line_items.each do |item| %>
				<% total_price += item.quantity * item.unit_price %>
				<tr>
					<td><%= item.product.name %></td>
					<td><%= item.quantity %></td>
					<td><%= item.danish_unit_price %></td>
					<td><%= item.danish_total_price %></td>
				</tr>
				<% end %>
				<tr>
					<td></td>
					<td></td>
					<td>Subtotal:</td>
					<td><%= LineItem.to_danish_price(total_price) %></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Fragt:</td>
					<td><%= LineItem.to_danish_price(39.0) %></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Total:</td>
					<td><%= LineItem.to_danish_price(39.0 + total_price) %></td>
				</tr>
				<tr>
					<td colspan="4"></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Moms:</td>
					<td><%= LineItem.to_danish_price((39.0 + total_price)/4) %></td>
				</tr>
			</table>
		</p>	

		<p>Tak for din bestilling og hav en god dag!</p>
		<p>&nbsp;</p>
		<p>Ølstykke Dyreklinik</p>
	</div>
</body>
</html>