<% if @order %>
<table class="cart_items" id="order_details" cellspacing=0>
	<tr class="carttitle">
		<td class="product_name" colspan="2" rowspan="2">Produkt<%= @order.line_items.size > 1 && "er" || "" %></td>
		<td class="quantity" rowspan="2">Antal</td>
		<td colspan="2" align="center">Pris</td>
	</tr>
	<tr class="carttitle">
		<td class="unit_price">Stuk</td>
		<td class="total_price">Total</td>
	</tr>
	<% total_price = @order.line_items.inject(0) {|sum, item| sum + item.unit_price * item.quantity } %>

	<% @order.line_items.each do |item| %>
	<% product = item.product %>
	<tr>
		<td class="product_photo"><a href="/shop/product?id=<%= item.product.id %>" id="product_<%= item.product_id.to_s %>_photo_link">
			<img style="border-width: 0px;" alt="photo" src="<%= item.product.product_photos[0] ? item.product.product_photos[0].attachment_link : '/broken.png' %>" id="product_<%= item.product.id.to_s %>_photo" /></a>
		</td>  
		<td class="cart_product_name">
			<a style="font-weight: bold;" class="dotted" id="product_<%= item.product.id %>_name" href="/shop/product?id=<%= item.product.id %>">
				<%= truncate(item.product.name, 260) %>
			</a>
		</td>
		<td><%= item.quantity %></td>
		<td class="unit_price" align="right"><%= danish_price(item.unit_price) %></td>
		<td class="total_price" align="right"><%= danish_price(item.unit_price * item.quantity) %></td>
	</tr>
	<% end %>
        <tr>
                <td></td>
                <td>Fragt</td>
                <td colspan="3" align="right">39,00</td>
        </tr>
        <tr>
                <td colspan="5">&nbsp;</td>
        </tr>
	<tr>
		<td colspan="2"></td>
		<td colspan="3" align="right"><strong>Varer i alt: <%= danish_price(total_price + 39.0) %></strong></td>
	</tr>                  
</table>

	<h3>Sendes til</h3>
	<table class="customer_info">
		<tr>
			<td>Navn:</td>
			<td><%= @order.name %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= @order.email %></td>
		</tr>
		<tr>
			<td>Adresse:</td>
			<td><%= @order.street %></td>
		</tr>
		<tr>
			<td>Postnr:</td>
			<td><%= @order.zip %></td>
		</tr>
		<tr>
			<td>By:</td>
			<td><%= @order.ship_to_city %></td>
		</tr>
		<tr>
			<td>Land:</td>
			<td><%= @order.country %></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
<% end %>